// Override default variables before the import
$body-bg: #fff;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-weight: 600;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.background-img {
    position: relative;
    width: 100%;
    background: url("../img/bg-pattern.png"), rgb(0, 173, 255);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #2590ba, #a717b8);
  }
  
  @media (min-width: 992px) {
    header.background-img {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.background-img .header-content {
      margin-bottom: 0;
      text-align: left;
    }
    header.background-img .header-content h1 {
      font-size: 50px;
    }
    header.background-img .device-container {
      max-width: 325px;
    }
  }
  
  #main {
      padding-bottom: 25px;
  }
  
  #facet {
      margin-bottom: 10px;
  }

  #facetList {
    margin-right: 15px;
    margin-left: -10px;
    margin-top: -10px;
  }
  
  footer {
      padding: 10px;
      text-align: center;
      color: rgba(255, 255, 255, 0.3);
      background-color: #222222;
  }
  
  #searchRowImg {
      margin-bottom: 10px;
      
  }

  // .searchBox {
  //   // width: 100%;
  //   // margin-bottom: 10px;
  //   // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // }

  .ais-SearchBox.searchBox {
    width: 100%;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .ais-SearchBox.facetSearch {
    width: 100%;
    padding: 1px;
  }
  
  #hit {
      margin: 5px;
      margin-bottom: 15px;
      padding: 5px;
      
  }
  #hit:hover {
      box-shadow: 0 14px 28px rgba(255, 255, 255, 0.19), 0 10px 10px rgba(255,255,255,0.22);
  }
  
  .hover-hit {
      color: blue;
  }
  
  .fas.fa-star {
      color: gold;
      text-shadow: 0 0 1px #000
  }

  #fullMapView {
    margin-top: 15px;
  }
  
  